body {
    background-color: rgb(130, 202, 130);
}

#header {
    display: flex;
    margin: 0 auto;
    width: 700px;
    flex-wrap: wrap;
}

#game {
    display: flex;
    margin: 0 auto;
    width: 700px;
    flex-wrap: wrap;
}

.light {
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: rgb(240, 177, 250);
}

.dark {
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: rgb(104, 50, 148);
}

.whitePawn {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color:white;
}

.blackPawn {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color:black;
}

.posNewPawn {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color:rgb(118, 154, 253);
}

.whitePlayer {
    color: white;
}

.blackPlayer {
    color: black;
}
